CompileFlags:
  Add:
    - -xc
    - -std=c99
    - -Wno-unknown-attributes
    - -Wno-gcc-compat
    - -Wno-unused-value
    - -Wno-unused-function
    - -Wno-int-to-pointer-cast
    - -Wno-pointer-to-int-cast
    - -Wno-shift-count-overflow
Diagnostics:
  ClangTidy:
    Remove:
      - bugprone-infinite-loop
      - bugprone-too-small-loop-variable
      - bugprone-narrowing-conversions
      - bugprone-reserved-identifier
      - cert-dcl37-c
      - misc-use-internal-linkage
  Suppress:
    - asm_invalid_input_constraint
    - asm_invalid_output_constraint
